* {
    margin: 0;
    padding: 0;
}

header, article,main,footer,section,nav,ul,div,a,li {
    display: block;
}

/************HEADER***********/
header{
    height: 150px;
    width: 100%;
}

/************Login/Register************/
.container{
    position: relative;
    font-size: 50px;
    font-family: Carter One;
    font-style: normal;
    font-weight: normal;
    display: flex; 
    margin: 0 auto; 
    margin-top: 5%;
    width: 800px;
    height: 800px;
    background: url(../media/images/Shaker_logo.png) no-repeat left;
    
}  

.loginButton{
    position: absolute;
    margin-right: 50%;
}

.registerButton{
    position: absolute;
    margin-left: 70%;
}

.container a{
    color: firebrick;   
}

.container a:hover{
    color: black;
    text-decoration: none;

}

/***********Registration Form***********/

.registerWrapper{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    top: 70px;
    margin-bottom: 10px;
    margin: 0 auto;
    width: 100%;
}

.registerWrapper h1{
    position: relative;
    font-family: Carter One;
    color: firebrick;
    font-size: 70px;
    display:flex;
}

.registerWrapper form{
    position: relative;
    top: 50px;
}

.registerWrapper button{
    position: relative;
    left: 40%;
}

/************mobile**********/
@media only screen and (min-width:300px) and (max-width:770px){
    .container{
        font-size:70px;
        margin-top: 20%;
        width: 80%;
        height: 80%;
    } 
    .loginButton{
        margin-left: 30%;
        margin-top: 20%;
    }
    .registerButton{
        margin-top: 60%;
        margin-left: 20%;
    }
    .container a{
        color: white;
    }
    .loginRegisterBody{
        background-color: firebrick;   
    }
    .containerLogin h1{
        font-size: 20pt;
    }
    .registerWrapper h1{
        font-size: 50px;
        padding-left: 20px;
    }
    .registerWrapper form{
        padding-left: 30px;
    }
}

/********Login Form**********/
.containerLogin{
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-left: 20%;
    top: 25px;
    font-family: Carter One;
}  

.containerLogin h1{
    color: firebrick;
    font-size: 90px;   
}

.loginForm{
    padding-top:25px;
    margin-left: 25%;
}

.containerLogin button{
    position: relative;
    margin-left: 7%;
    margin-top: 2%;
}
























.logoutButton{ /****TODO Doesn't work*******/
    position: absolute;
    right: 2px;
}
.profileIcon{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    float: right;
    margin: 2px;
}

#logo {
    position: absolute;
    width: 15%;
    height: 140px;
    background-image: url("images/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    left: 45%;
}

.headerIcons a{
    position: relative;
    margin: 25px;    
    font-size: 35px; 
    color: firebrick;
    letter-spacing: 35px;
    }

.headerIcons a:hover{
    text-decoration: none;
    color: rgb(151, 5, 5);
}

/************NAVBAR***********/

nav a:hover {
    border-style: solid;
    border-width: 0px 0px 2.5px 0px;
    border-color: rgb(161, 44, 15);
}

.nav-link {
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-right: 100px;
}

.navbar{
    position: relative;
}


/****************BREADCRUMBS*************/

.breadcrumb {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 50px;
    width: 100%;
}
/****************FORM********************/

.form_wrapper{
    position: relative;
    margin-left: 40%;
    width: 380px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    justify-content: space-evenly;
    margin-bottom: 70px;
    margin-top: 40px;
}
.form_wrapper input[type="text"], .form_wrapper input[type="email"], .form_wrapper input[type="tel"], .form_wrapper textarea{
    width:100%;
    height: 40px;
}

.icons {
    position: relative;
    margin-top: 5px; 
}
.icons label{
    padding: 10px;
}

.finishedButton input {
    height: 70px;
    width: 300px;
    background-color: firebrick;
    border-radius: 20px;
    margin-left: 70px;
    font-weight: bold;
    font-size: 27px;
}


input:invalid {
    border: firebrick solid 1px;
}

textarea:invalid {
    border: firebrick solid 1px;
}


/*mobile*/
@media (max-width: 680px) {
    .breadcrumb {
        visibility: hidden;
    }
    header{
        background-color: white;
        height: 80px;
    }
    .profileIcon{
        width: 40px;
        height: 40px;
    }
    
    #logo{
    background-image: url(../../images/logoPhone.png) ;
    height: 70px;
    }
    
    .main_wrapper{
        margin-top: -40px;
    }
    .headerIcons a{
        margin: 2%;
        font-size: 17px; 
        letter-spacing: 12px;
    }

    .card-text{
        font-size:15px;
    }  


    /***********FORM**************/
    .form_wrapper{
        margin-top: -40px;
        margin-left: 25%;
        width: 180px;
        font-size: 10px;
        margin-bottom: 50px;
    }

    .form_wrapper input[type="text"], .form_wrapper input[type="email"], .form_wrapper input[type="tel"], .form_wrapper textarea{
        width:100%;
        height: 20px;
    }

    .icons img {
        width: 30px;
        height: 30px;
    }

    .finishedButton input {
        height: 30px;
        width: 180px;
        border-radius: 20px;
        margin-left: 0px;
        font-size: 17px;
    }
}

/**************heart change color - JS**************/

.color {
    color: red;
}

.heart {
    position: relative;
    height: 40px;
    width: 40px;
    top: -70px;
    float:center;
    font-size: 50px;
    background-color: white;
}

/**********Login Form************/


.loginWrapper{
    position: absolute;
    width: 1000px;
    height: 500px;
    left: 45%;
    top: 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.loginWrapper h1{
    color: firebrick;
    font-size: 100px;
    display:flex;
    width: 90%;
}

.loginWrapper form{
    position: relative;
    width: 1000px;
    height: 500px;
    left: 20%;
    top: 50px;
}




/**************HOME PAGE***************/
.projects-container{
    display: flex;
    justify-content: space-between;
    text-align: center; 
    width: 1000px;
    height: 800px;
    flex-wrap: wrap;
  }
  
  .project-item{
    margin-right: 55px;
    justify-content: space-evenly;
    float: left;
  }

