{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Shaker - All Projects</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel ="stylesheet" href="{% static 'projects/css/style.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">            
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Carter+One&family=Open+Sans&family=Roboto:wght@300&display=swap">
</head>
<body>
  <header> 
    <a href="/homepage" id="logo" ></a>        
      <ul class="headerIcons">
        <li><a href="#" class="far fa-bell"></a>
            <a href="#" class="fas fa-heart"></a>
            <a href="/createNewProject" class="fas fa-plus-circle"></a>
        </li>
      </ul>
    {% if user.is_authenticated %}
    <div class="greeting">
      <span><b>Hi {{user.username}}</b></span>
    </div>
    {% else %}
      <a href="/Login">Login</a>
      <a href="/register">Register</a>
    {% endif %}    
  </header>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/homepage">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/myprojects">My projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/createNewProject">New project</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/allprojects">All projects <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/allfaculties">Faculties</a> 
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
        <form action="{% url 'logoutuser' %}" method="POST">
          {% csrf_token %}
          <button class="btn btn-light logoutButton" type='submit'>Logout</button>
        </form>
    </div>
  </nav>

  <div class="breadc">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/homepage">Home</a></li>
        <li class="breadcrumb-item"><a href="/myprojects">My Projects</a></li>
        <li class="breadcrumb-item active" aria-current="page">All Ptojects</li>
      </ol>
    </nav>
  </div>
  {% if user.is_authenticated %}
    <div class="project-container">
      <h1>All Users Projects</h1>
      <br><br>
      <h3>{{errMsg}}</h3>
      <ul>
        {% for u in users %}
          <h2>{{ u.username }}'s projects:</h2>
          <br>
          <ol>
            {% for project in allprojects %}
              {%if project.user_id_id == u.id %}
                <li>
                  <a href="/project/{{ project.id }}/about"><h3>{{project.projectName}}</h3>
                    {{project.dateCreated}}<br>
                  {% if project.description %} {{project.description}} {% endif %}</a>
                  {% if project.user_id_id == user.id%}
                    <a href="/project/{{ project.id }}" class="fas fa-pencil-alt">&nbsp;&nbsp;Edit</a> 
                  {% endif %}
                  {% if user.is_superuser %}
                    <form action="#" method="POST">
                      {% csrf_token %}
                      <button type='submit' class="far fa-trash-alt btn btn-light">&nbsp;&nbsp;<b>Delete project</b></button>
                    </form>
                  {% endif %}
                <br><br>
                {% if project.fasion %}
                    <img class="facultyIcon" src="{% static 'projects/media/images/departmentsIcons/fashion.png' %}" class="Fasion" alt="Fasion" title="Fasion">&nbsp;
                {% endif %}
                {% if project.art %}
                    <img class="facultyIcon" src="{% static 'projects/media/images/departmentsIcons/art.png' %}" class="Art" alt="Art" title="Art">&nbsp;
                {% endif %}
                {% if project.chemical %}
                  <img class="facultyIcon" src="{% static 'projects/media/images/departmentsIcons/chemical.png' %}" class="Chemical" alt="Chemical" title="Chemical">&nbsp;
                {% endif %}
                {% if project.graphic %}
                    <img class="facultyIcon" src="{% static 'projects/media/images/departmentsIcons/graphic.png' %}" class="Graphic" alt="Graphic" title="Graphic">&nbsp;
                {% endif %}
                {% if project.jewellery %}
                    <img class="facultyIcon" src="{% static 'projects/media/images/departmentsIcons/jewellery.png' %}" class="Jewellery" alt="jewellery" title="jewellery">&nbsp;
                {% endif %}
                {% if project.software %}
                    <img class="facultyIcon" src="{% static 'projects/media/images/departmentsIcons/software.png' %}" class="Software" alt="Software" title="Software">&nbsp;
                {% endif %}
                {% if project.Textil %}
                    <img class="facultyIcon" src="{% static 'projects/media/images/departmentsIcons/textil.png' %}" class="Textil" alt="Textil" title="Textil">&nbsp;
                {% endif %}
                {% if project.Electronic %}
                    <img class="facultyIcon" src="{% static 'projects/media/images/departmentsIcons/electronic.png' %}" class="Electronic" alt="Electronic" title="Electronic">&nbsp;
                {% endif %}
                {% if project.industrial %}
                    <img class="facultyIcon" src="{% static 'projects/media/images/departmentsIcons/indus.png' %}" class="Industrial" alt="Industrial" title="Industrial">&nbsp;
                {% endif %}
              </li>
              <br><br>
            {% endif %}
          {% endfor %}
        </ol>
        {% endfor %}
      </ul>
      <a href="/myprojects">Back to my projects</a>
      <br><br>
    </div>
    {% endif %}
    
    <script src="https://kit.fontawesome.com/9f3ffd2183.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
  </html>
</body>
</html>