{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Shaker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel ="stylesheet" href="{% static 'projects/css/style.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">            
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Carter+One&family=Open+Sans&family=Roboto:wght@300&display=swap">
  <link rel="shortcut icon" href="">
</head>
<body>
  <header> 
    <a href="/homepage" id="logo" ></a>        
      <ul class="headerIcons">
        <li><a href="#" class="far fa-bell"></a>
          <a href="#" class="fas fa-heart"></a>
          <a href="/createNewProject" class="fas fa-plus-circle"></a>
        </li>
      </ul>
    {% if user.is_authenticated %}
    <div class="greeting">
      <span><b>Hi {{user.username}}</b></span>
    </div>
    {% else %}        
      <a href="/Login">Login</a>
      <a href="/register">Register</a>
    {% endif %}    
  </header>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/homepage">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/myprojects">My projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/createNewProject">New project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/allprojects">All projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/allfaculties">Faculties</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" action="#" method="GET">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <form action="{% url 'logoutuser' %}" method="POST">
        {% csrf_token %}
        <button class="btn btn-light logoutButton" type='submit'>Logout</button>
      </form>
    </div>
  </nav>
  <div class="breadc">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/homepage">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Faculties</li>
      </ol>
    </nav>
  </div>
  <br><br><br>
  {% if user.is_authenticated %}
	  <main id="faculties-list">
      <h1></h1>
      {% if user.is_superuser %}
        <a href="#"><button type='submit' class="btn btn-light">&nbsp;&nbsp;<b>Add new faculty</b></button></a>
        <br><br>
        {% endif %}
    </main>
  {% endif %}

  <script src="https://kit.fontawesome.com/9f3ffd2183.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
  <script src="{% static 'projects/js/get_faculties.js' %}"></script>

</body>
</html>
